<md-list layout-align="start center">
  <md-list-item>
    <div>
      <button class="button" md-button [routerLink]="['/users', 1]" routerLinkActive="active">User1</button>
    </div>
  </md-list-item>
  <md-list-item>
    <button class="button" md-button [routerLink]="['/users', 2]" routerLinkActive="active">User2</button>
  </md-list-item>
  <md-list-item>
    <button class="button" md-button [routerLink]="['/users', 3]" routerLinkActive="active">User3</button>
  </md-list-item>
</md-list>
