<div class="centered">
  <md-card>
    User: #{{user?.name}}
  </md-card>
</div>
<div class="centered">
<button md-mini-fab class="example-fab" color="primary" (click)="counterChange(increment)"><md-icon>thumb_up</md-icon></button>

<button md-mini-fab class="example-fab" color="primary" (click)="counterChange(decrement)"><md-icon>thumb_down</md-icon></button>
</div>


