<md-toolbar color="primary">
  <div class="container">
    <button md-mini-fab class="example-fab" color="secondary" (click)="toggleMenu()">
      <md-icon>menu</md-icon>
    </button>
  </div>
</md-toolbar>
