<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side" [opened]="isMenuOpen">
    <app-menu></app-menu>
  </md-sidenav>
  <div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <app-header></app-header>
    <main class="mdl-layout__content">
      <div class="mdl-layout__center">
        <md-grid-list cols="2" rowHeight="2:1">
          <md-grid-tile colspan="2">
            <router-outlet width="100%"></router-outlet>
          </md-grid-tile>
          <md-grid-tile colspan="2">
            <app-counter></app-counter>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </main>
  </div>
</md-sidenav-container>
