@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html, body {
  /*padding: 2em 0em;*/
  height: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1024px;
  background: whitesmoke;
}
